In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('.\googleplaystore.csv')

In [3]:
# chack the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10841 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.1+ MB

In [4]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [6]:
# To get a sample of rendom data
df.sample(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
9366,EH!,LIFESTYLE,4.6,10,8.7M,"1,000+",Free,0,Everyone,Lifestyle,"July 18, 2018",7.2.2,4.1 and up
8342,DF SmartPlus,TOOLS,NaN,0,36M,10+,Free,0,Everyone,Tools,"February 23, 2018",1.0.1,4.1 and up
1179,DELISH KITCHEN - FREE recipe movies make food ...,FOOD_AND_DRINK,4.6,32997,13M,"1,000,000+",Free,0,Everyone,Food & Drink,"August 4, 2018",2.2.7,4.1 and up
7917,Nusenda CU– Mobile Banking,FINANCE,3.5,805,6.5M,"50,000+",Free,0,Everyone,Finance,"July 17, 2018",5.4.5,5.0 and up
9276,EF English Live Business Tablet,FAMILY,3.3,279,14M,"10,000+",Free,0,Everyone,Education,"December 25, 2017",1.6.6,4.4 and up
6823,Barisal University App-BU Face,FAMILY,5.0,100,10M,"1,000+",Free,0,Everyone,Education,"May 6, 2018",3.1.1,4.0.3 and up
2168,Children Educational Game Full,FAMILY,4.7,30,Varies with device,"1,000+",Paid,$7.49,Everyone,Educational;Education,"May 16, 2018",Varies with device,Varies with device
5923,BA Status,TRAVEL_AND_LOCAL,NaN,0,5.1M,100+,Free,0,Everyone,Travel & Local,"August 13, 2016",1.0,4.0.3 and up
1671,Kick the Buddy,GAME,4.3,1000417,Varies with device,"50,000,000+",Free,0,Teen,Action,"July 5, 2018",Varies with device,4.4 and up
434,Full Screen Caller ID,COMMUNICATION,4.2,104990,10M,"5,000,000+",Free,0,Everyone,Communication,"May 15, 2018",3.5.0,4.0.3 and up

In [7]:
df.describe()

            Rating       Reviews
count  9367.000000  1.084100e+04
mean      4.191513  4.441119e+05
std       0.515735  2.927629e+06
min       1.000000  0.000000e+00
25%       4.000000  3.800000e+01
50%       4.300000  2.094000e+03
75%       4.500000  5.476800e+04
max       5.000000  7.815831e+07

# Assighnment: write down all the numaric variables and make them numaric
1.size
2.install
3.price

In [10]:
# to do that let's check the  unique values
df['Size'].value_counts()

Size
Varies with device    1695
11M                    198
12M                    196
14M                    194
13M                    191
                      ...
430k                     1
429k                     1
200k                     1
460k                     1
619k                     1
Name: count, Length: 461, dtype: int64

# check that how maney MBs are there in one Kb? and how to calculate?
1. convert KB to MB
2. Then remove the M from all numbers\
3.Handel`Varies with device`

In [16]:
df['Installs'].value_counts()

Installs
1,000,000+        1579
10,000,000+       1252
100,000+          1169
10,000+           1054
1,000+             908
5,000,000+         752
100+               719
500,000+           539
50,000+            479
5,000+             477
100,000,000+       409
10+                386
500+               330
50,000,000+        289
50+                205
5+                  82
500,000,000+        72
1+                  67
1,000,000,000+      58
0+                  14
0                    1
Name: count, dtype: int64

# do it as numaric column or group that into different group following bining method

# price

In [17]:
df['Price'].value_counts()

Price
0         10041
$0.99       148
$2.99       129
$1.99        73
$4.99        72
          ...
$19.90        1
$1.75         1
$14.00        1
$4.85         1
$1.04         1
Name: count, Length: 92, dtype: int64