# Dataset contains the updated 2024 data from the Jobs and Salaries in Data Science dataset

**Author Name:** Danish Azeem\
**Email:** danishazeem365@gmail.com

This data was collected from the following [link](https://www.kaggle.com/datasets/murilozangari/jobs-and-salaries-in-data-field-2024)

_**The Dataset colected from the source has following description**_

About Dataset
This dataset contains the updated 2024 data from the Jobs and Salaries in Data Science dataset. The information is sourced from ai-jobs.net/salaries/2024/.

About Dataset
work_year: The year in which the data was recorded. This field indicates the temporal context of the data, important for understanding salary trends over time.

job_title: The specific title of the job role, like 'Data Scientist', 'Data Engineer', or 'Data Analyst'. This column is crucial for understanding the salary distribution across various specialized roles within the data field.

job_category: A classification of the job role into broader categories for easier analysis. This might include areas like 'Data Analysis', 'Machine Learning', 'Data Engineering', etc.

salary_currency: The currency in which the salary is paid, such as USD, EUR, etc. This is important for currency conversion and understanding the actual value of the salary in a global context.

salary: The annual gross salary of the role in the local currency. This raw salary figure is key for direct regional salary comparisons.

salary_in_usd: The annual gross salary converted to United States Dollars (USD). This uniform currency conversion aids in global salary comparisons and analyses.

employee_residence: The country of residence of the employee. This data point can be used to explore geographical salary differences and cost-of-living variations.

experience_level: Classifies the professional experience level of the employee. Common categories might include 'Entry-level', 'Mid-level', 'Senior', and 'Executive', providing insight into how experience influences salary in data-related roles.

employment_type: Specifies the type of employment, such as 'Full-time', 'Part-time', 'Contract', etc. This helps in analyzing how different employment arrangements affect salary structures.

work_setting: The work setting or environment, like 'Remote', 'In-person', or 'Hybrid'. This column reflects the impact of work settings on salary levels in the data industry.

company_location: The country where the company is located. It helps in analyzing how the location of the company affects salary structures.

company_size: The size of the employer company, often categorized into small (S), medium (M), and large (L) sizes. This allows for analysis of how company size influences salary.

# Purpose of Analysis:

This dataset contains the updated 2024 data from the Jobs and Salaries in Data Science dataset.\
work_year: The year in which the data was recorded. This field indicates the temporal context of the data, important for understanding salary trends over time.

In [1]:
# import libreres
import pandas as pd
import numpy as np
import seaborn as sns
import ydata_profiling as ydp

C:\Users\Danish\AppData\Roaming\Python\Python39\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
# load data
df = pd.read_csv(r"C:\Users\Danish\Desktop\AI and Data Science 6\day_13\jobs_in_data_2024.csv")
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,work_setting,company_location,company_size,job_category
0,2024,Entry-level,Freelance,Applied Data Scientist,30000,USD,30000,United Kingdom,Remote,United Kingdom,M,Data Science and Research
1,2024,Executive,Full-time,Business Intelligence,230000,USD,230000,United States,In-person,United States,M,BI and Visualization
2,2024,Executive,Full-time,Business Intelligence,176900,USD,176900,United States,In-person,United States,M,BI and Visualization
3,2024,Senior,Full-time,Data Architect,171210,USD,171210,Canada,In-person,Canada,M,Data Architecture and Modeling
4,2024,Senior,Full-time,Data Architect,92190,USD,92190,Canada,In-person,Canada,M,Data Architecture and Modeling
...,...,...,...,...,...,...,...,...,...,...,...,...
14194,2021,Senior,Full-time,Data Specialist,165000,USD,165000,United States,Remote,United States,L,Data Management and Strategy
14195,2020,Senior,Full-time,Data Scientist,412000,USD,412000,United States,Remote,United States,L,Data Science and Research
14196,2021,Mid-level,Full-time,Principal Data Scientist,151000,USD,151000,United States,Remote,United States,L,Data Science and Research
14197,2020,Entry-level,Full-time,Data Scientist,105000,USD,105000,United States,Remote,United States,S,Data Science and Research
14198,2020,Entry-level,Contract,Business Data Analyst,100000,USD,100000,United States,Remote,United States,L,Data Analysis

In [4]:
# ydata profiling report 
profile  = ydp.ProfileReport(df)
profile.to_file(output_file="./outputs/ydata_jobs.html")

Summarize dataset:  74%|███████▎  | 14/19 [00:01<00:00,  5.86it/s, Calculate auto correlation]         C:\Users\Danish\AppData\Roaming\Python\Python39\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'M'')
  warnings.warn(
Summarize dataset: 100%|██████████| 25/25 [00:04<00:00,  5.85it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:07<00:00,  7.10s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.44s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 142.90it/s]