# Cars Dataset

**Author Name:** Danish Azeem\
**Email:** danishazeem365@gmail.com

This data was collected from the following [link](https://www.kaggle.com/datasets/ayushparwal2026/cars-dataset)



**About this Dataset**

These datasets are often used for various purposes such as market research, product development, predictive modeling, risk assessment, and academic research in fields like transportation engineering, automotive engineering, data science, and machine learning. Numerous organizations, including automotive manufacturers, research institutions, government agencies, and data providers, contribute to the creation and distribution of car datasets. Additionally, many datasets are freely available online, while others may require purchase or access through subscription services.

In [1]:
# import libreres
import pandas as pd
import numpy as np
import seaborn as sns
import ydata_profiling as ydp

C:\Users\Danish\AppData\Roaming\Python\Python39\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
df = pd.read_csv(r"C:\Users\Danish\Desktop\AI and Data Science 6\day_13\used_cars_data.csv")
df

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7248,7248,Volkswagen Vento Diesel Trendline,Hyderabad,2011,89411,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,NaN
7249,7249,Volkswagen Polo GT TSI,Mumbai,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN
7250,7250,Nissan Micra Diesel XV,Kolkata,2012,28000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,NaN
7251,7251,Volkswagen Polo GT TSI,Pune,2013,52262,Petrol,Automatic,Third,17.2 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN
7252,7252,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,Kochi,2014,72443,Diesel,Automatic,First,10.0 kmpl,2148 CC,170 bhp,5.0,NaN,NaN

In [4]:
# ydata profiling report 
profile  = ydp.ProfileReport(df)
profile.to_file(output_file="./outputs/ydata_cars.html")

Summarize dataset:  76%|███████▌  | 16/21 [00:01<00:00, 11.09it/s, Calculate auto correlation]        C:\Users\Danish\AppData\Roaming\Python\Python39\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'CNG'')
  warnings.warn(
Summarize dataset:  90%|████████▉ | 44/49 [00:07<00:01,  3.75it/s, Missing diagram heatmap]                     C:\Users\Danish\AppData\Roaming\Python\Python39\site-packages\seaborn\matrix.py:260: FutureWarning: Format strings passed to MaskedConstant are ignored, but in future may error or produce different behavior
  annotation = ("{:" + self.fmt + "}").format(val)
C:\Users\Danish\AppData\Roaming\Python\Python39\site-packages\ydata_profiling\model\missing.py:78: UserWarning: There was an attempt to generate the Heatmap missing values diagrams, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(missing_diagrams={"Heatmap": False}`)
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: '--'')
  warnings.warn(
Summarize dataset: 100%|██████████| 49/49 [00:07<00:00,  6.53it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:10<00:00, 10.10s/it]
Render HTML: 100%|██████████| 1/1 [00:02<00:00,  2.20s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 45.48it/s]